.navbar-brand {
  font-size: xx-large;
  color: black;
}

.jumbotron {
  text-align: center;
}

.contact {
  padding-left: 100px
}

@include media-breakpoint-up(sm) {
  .contact {
    display: block;
  }
}