.row1 {
  background-color: gray;
}


.container-fluid {
  ;
}

.navbar-brand {
  color: black;
}

.container {
  background-color: rgb(223, 223, 223);
}

.me {
  border-style: solid;
  margin-bottom: 60px;
}