/* .navbar-brand {
  font-size: xx-large;
  color: black;
}

.name {
  padding-left: 325px;
  font-size: xx-large;
}

.container {
  background-color: rgb(216, 216, 216);
}

.me {
  border-style: solid;
  margin-bottom: 60px;
}

.about {
  margin-left: 50px;
} */

.jumbotron {
  text-align: center;
}

.more {

  font-size: xx-large;
  border-top: black; 
}

.learn {
  border: solid;
  padding: 0px 20px;
  margin: 50px 20px
}

.about {
  text-align: center;
  padding-top: 150px;
}

.row {
  padding-bottom: 70px;
}